/* custom font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");

/* variables */
:root {
  --primary: #1d1d1d;
  --secondary: #04334f;
  --warning: #da0f41;
  --pornblack: rgb(223, 148, 9);
  --pornyellow: #f90;
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", Roboto;
  color: white;
}
body {
  background: var(--primary);
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* buttons */
button,
.btn {
  background: var(--pornyellow);
  border-radius: 8px;
  border: 0;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  color: black;
}
button:hover,
.btn:hover {
  background: var(--pornblack);
  color: black;
}
button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}

/* forms */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.05);
  border: 1px solid var(--secondary);
  background: white;
}
input,
textarea {
  border: 0;
  border-bottom: 1px solid var(--secondary);
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
}

/* error text */
.error {
  color: var(--warning);
  font-size: 14px;
  margin: 16px 0;
}
